#vue-float {
  padding 20px 30px;
  text-align center;
  h1 {
    margin-bottom 10px;
    font-size 18px;
    font-weight bold;
  }
  #feedback {
    margin-bottom 20px;
    font-size 12px;
    font-style: italic;
  }
  #input {
    line-height 1;
    padding 10px;
    border-radius 2px;
    outline none;
    border 1px solid #757575;
  }
  #start {
    line-height 1;
    padding 10px;
    background-color #0052cc;
    color white;
    border none;
    border-radius 2px;
    margin-bottom 20px;
    &:hover {
      background-color #0065ff;
    }
  }
  h2 {
    text-align left;
  }
  td {
    padding 5px;
    text-align center;
    vertical-align middle;
  }
  #bits {
    font-size 0;
    span {
      font-size 12px;
      display inline-block;
      text-align center;
      width 24px;
      height 24px;
      line-height 24px;
      color: white;
      background-color: #417ad2;
      border-right 1px solid white;
    }
    .sign {
      background-color #ff744c;
    }
    .e {
      background-color #2bb31a;
    }
  }
}