.projects
  width 100% !important
  .project-content
    display -webkit-flex;
    display  flex
    flex-wrap wrap
    justify-content space-between
    .project-name
      width 100%
      text-align center
    .img-box
      width 100%
      height 90%

    .project-item desktop
      width 30%
      height  400px

    .project-item tablet
      width 45%
      height  300px

    .project-item mini
      width 45%
      height  250px

    .project-item phone
      width 100%
      height  150px
