.resume
  width 100% !important
  background url('/img/resume/soft_wallpaper.png') repeat
  padding-top 60px

  /*加粗*/
  .bold
    font-weight bolder

  ul
    list-style: none;

  /*清浮动*/
  .clear
    clear both

  #wrapper
    max-width 700px
    margin 0px auto 30px
    padding 60px
    background #fff
    box-shadow 0 1px 3px rgba(0,0,0,.1)
    position relative

  h2.sectionHead:before
    content ""
    position absolute
    width 45px
    height 45px
    left -105px
    top -15px
    background-image url(/img/resume/icons.png)

  h2.sectionHead
    clear both
    font bold 20px/12px 'Microsoft YaHei',sans-serif
    margin 60px -60px
    border-left 52px solid #444
    color #444
    padding 1px 0 0 8px
    letter-spacing -2px
    text-transform uppercase
    position relative

  h2#titleName
    margin 20px -60px 10px

  h2#titleName:before
    background-position: -90px bottom;

  h2#tools:before
    background-position: left top;

  h2#clock:before
    background-position: -45px top;

  h2#learn:before
    background-position: right top;

  h2#ribbon:before
    background-position: left -45px;

  #bio
    position relative
    p
      clear: left;
      margin: 40px auto;
      padding: 40px 45px;
      max-width: 560px;
      background: #fbfbfb;
      border: 1px solid #f3f3f3;
      border-radius: 8px;
      position: relative;
      border-width: 0 1px 1px;
      border-color: #fff #f3f3f3 #e8e8e8;
      line-height: 1.6em;

  /*社交链接*/
  #socialIcons
    width 50%
    height 30px
    position absolute
    top -35px
    right 0
    text-align right
    .socialIcon
      width 30px
      height 30px
      margin 0 0 0 3px
      display inline-block
      border none
      background-size contain !important
    #githubIcon
      background url(/img/resume/github-40.png) no-repeat center
    #blogIcon
      background url(/img/resume/blog-40.png) no-repeat center
    #dataguruIcon
      background url(/img/resume/dataguru-40.png) no-repeat center

  /*技能*/
  ul#skills
    margin: 0;
    width: 100%;
    overflow: hidden;
    background: url(/img/resume/loading.gif) no-repeat center 30%;
    &.ready
      background: none;
    li
      position: relative;
      right: 100%;
      background-color: #444;
      color: #fff;
      font: bold 9px/20px sans-serif;
      letter-spacing: 1px;
      margin-bottom: 3px;
      padding: 3px 0 0 0;
      text-transform: uppercase;
      z-index: 1;
      .skill-name
        margin-left 5px
      .score
        position: absolute;
        top: 0;
        right: 5px;
        line-height: 26px;
        width: 50px;
        text-align: right;
        color: #aaa;

  /*工作经历 教育经历*/
  .two-col
    margin: 0;
    position: relative;
    li
      margin: 0 0 20px 0;
      clear: both;
      font-size: 13px;
      .details
        float: left;
        width: 40%;
      p
        text-align: justify;

  #honorsAwards
    list-style-type: disc;
    font-size: 13px;

  .project-content
    display -webkit-flex
    display -ms-flex
    display -moz-flex
    display  flex
    flex-wrap wrap
    justify-content space-around


    .project-name
      width 100%
      height 2rem
      font-size 1rem
      line-height 2rem
      text-align center
    .img-box
      width 100%
      border 1px solid #bbb
      background-size contain !important
      height 200px
      @media phone
        height 200px

      @media mini
        height 200px

      @media tablet
        height 250px

      @media desktop
        height 300px

    .project-item
      border-radius 2px
      margin-top 1rem
      width 100%
      @media phone
        width 80%

      @media mini
        width 45%

      @media tablet
        width 45%

      @media desktop
        width 30%

