<div id="cubilosePage" itemscope itemprop="blogPost">
  <!--<header id="header">-->
    <!--<nav>-->
      <!--<a href="/cubilose">-->
        <!--<img class="logo" src="/img/cubilose/logo.png" alt="">-->
      <!--</a>-->
      <!--<ul id="menu">-->
        <!--<li><a href="#">首页</a></li>-->
        <!--<li><a href="#">联系我们</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
  <!--</header>-->
  <section id="banner">
    <img src="/img/cubilose/logo.png" alt="">
    <p>诚心代购马来西亚高品质燕窝</p>
  </section>
  <section id="section1">
    <div class="container">
      <h2>优质原料</h2>
      <p>来自世界上燕窝品质最好的产地之一：马来西亚</p>
    </div>
  </section>
  <section id="section2">
    <div class="container">
      <h2>手工制作</h2>
      <p>纯手工挑毛</p>
      <p>无化学制剂</p>
      <p>杜绝刷胶</p>
    </div>
  </section>
  <section id="section3">
    <div class="container">
      <h2>价格公道</h2>
      <p>售价低于淘宝同等品质</p>
      <p>买燕窝，赠送精美礼物</p>
    </div>
  </section>
  <footer id="footer">
    <div>
      <h3>联系我们</h3>
      <p>电话：18611112949</p>
      <p>微信：Ling089874/A22you</p>
    </div>
    <div class="code">
      <h3>扫码关注</h3>
      <img src="/img/cubilose/code.jpeg" alt="">
    </div>
  </footer>
</div>
