
	<div id="garden">
		<div class="seconds" id="seconds"></div>
	</div>
	<div id="pad">
		<div class="bow-wrapper">
			<img id="bow" style="left:0;" class="bow" src="/img/game77/bow.png" alt="">
		</div>
		<div class="footer">
        <span class="button" id="left">
          <i class="icon iconfont icon-left-circle-true"></i>
        </span>
			<span class="button" id="right">
          <i class="icon iconfont icon-right-circle-true"></i>
        </span>
			<span class="button hit" id="hit"></span>
			<div class="pro-wrapper">
				<div id="proInner" class="pro-inner"></div>
				<img id="boy" class="portrait" src="/img/game77/boy.png" alt="">
				<img id="girl" class="portrait" src="/img/game77/girl.png" alt="">
			</div>
		</div>
	</div>
	<div class="red-wrapper" id="red" style="display: none">
		<button class="red-button" id="redBtn"></button>
		<img id="redImg" src="/img/game77/red.png" alt="">
	</div>
	<div id="res" style="display: none">
		<div id="res-container">
			<div class="map mask" id="map">
				<img id="xq" src="/img/game77/xq_big.png" alt="">
			</div>
			<div class="mask kiss-outer" id="kiss">
				<div class="kiss-wrapper">
					<img src="/img/game77/love.png" alt="">
					<img class="kiss" src="/img/game77/kiss.gif" alt="">
				</div>
			</div>
		</div>
	</div>
